<head>
<title><%= @data[:title] %></title>
</head>
<body>
<html>
<div class="sort-block">
<form class="by-timestamp" action="/boards/<%= @data[:id] %>" method="get">
<input name="timestamp-sort" value="newest" type="hidden" >
<button type="submit">Newest first</button>
</form>

<div class="sort-block">
<form class="by-timestamp" action="/boards/<%= @data[:id] %>" method="get">
<input name="timestamp-sort" value="oldest" type="hidden" >
<button type="submit">Oldest first</button>
</form>

</div>
  <div class="messages">
    <% if @messages.empty? %>
      <div class="no-messages">No messages yet</div> 
    <% else %>
      <% @messages.each do |message| %>
        <div class="message">
          <div class="message-text"><%= message[:text] %></div> 
          <form action="/boards/<%= @data[:id] %>/messages/<%= message[:id] %>/update" method="post">
            <input name="_method" type="hidden" value="patch">
            <label for="message">Change:</label>
            <input type="text" name="message" value="<%= message[:text] %>">
            <button type="submit">Update Message</button>
          </form>
        </div>
      <% end %>
    <% end %>
  </div>
</html>
</body>